<header>
  <img
    src="assets/icons/windows11/Wide310x150Logo.scale-400.png"
    alt="elePWAnty icon"
    width="310"
    height="150"
    loading="eager"
  />

  Hey welcome to elePWAnty!
</header>

<main>
  <section id="intro">This is very barebones.</section>
</main>
